@media (min-width:1025px)  and (max-width:1275px){
    
.button_text {
    width: 45%;
    
}.destinations_image1 h2{
    padding-top: 70%;
    
}
.destinations_image2 h2{
    padding-top: 70%;
   
}
.destinations_image3 h2{
    padding-top: 70%;
    
}
.destinations_image4 h2{
    padding-top: 70%;
    
}
}